

body {
    background-color: #526D82;
    display: flex;
    align-items: center;
    justify-items: center;
}

p {
  font-family: 'Cartoony';
  font-weight: 300;
  color: aliceblue;
  margin: 35px 0 20px 0;
  width: 580px;
}

a,
a:visited {
  text-decoration: none;
  color: #50ac96;
  transition: 1s;
}

a:hover {
  color: #00ffff;
}

label {
  font-family: 'Cartoony';
  font-weight: 300;
}

@font-face {
  font-family: 'Cartoony'; 
  src: url(../etchASkecth-grid/fonts/ConcertOne-Regular.ttf); 
}

/* CONTAINERS */
.colorMiniContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
}

.colorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  flex-direction: column;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#canvas {
    background-color: black;
    width: 580px;
    height: 580px;
    display: grid;
    border: 9px solid #27374D;
    border-radius: 10px;
}

.pixels {
    background-color: white;
}

.slidecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* LABELS */

.ColorLabel {
  margin: 5px;
  color: aliceblue;
}

/* BUTTONS */

#pickedColor,
#pickedCanvasColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
}

#pickedColor::-webkit-color-swatch,
#pickedCanvasColor::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid #27374D;
}
#pickedColor::-moz-color-swatch,
#pickedCanvasColor::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid #27374D;
}


/* //BUTTON STYLES */
.toggle {
  display: flex;
  flex-direction: row; 
}
/* reset canvas */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 30px
    
}

.ui-buttons {
    margin: 25px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  font-family: 'Cartoony'; 
  
 }
 
 button.learn-more {
  font-weight: 400;
  color: aliceblue;
  text-transform: uppercase;
  padding: 1em 1.5em;
  background: #50ac96;
  border: 2px solid #2E4F4F;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a5a5c;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #2E4F4F;
  box-shadow: 0 0 0 2px #2E4F4F;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more:hover {
  background: #7dbeb0;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #2E4F4F;
  box-shadow: 0 0 0 2px #2E4F4F;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.learn-more:active {
  background: #CBE4DE;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #2E4F4F, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #2E4F4F, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }

  /* checkbox */
  .cyberpunk-button {
    background-color: #0E8388;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #0E8388;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #0E8388;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

  .slider:hover {
    opacity: 1;
  }


  